.book {
  width: 250px;
  height: 250px;
  margin: 5px;
  background: white;
  /* border: 6px solid rgba(0,0,0,0.1); */
  text-decoration: none;
  color: #444;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0000001a;
  /* flex: 0 1 24%; */
  text-align: center;
  transition: all .1s ease-in;
  overflow: hidden;
}

.book:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.title-text {
  background-color: #eceef1;
  /* color: #8d9096; */
  color: #DC9239;
  padding: 16px; 
  text-align: center;
}

.book > * {
  margin-bottom: 10px;
}